{% load static %}
<!-- Footer Area Starts -->
<footer class="footer-area font-small bg-dark section-padding">
    <div class="footer-widget">
        <!-- Footer Links -->
        <div class="container">
            <div class="text-center text-md-left pt-4 pt-md-5">
                <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto mt-2 mt-md-0 mb-0 mb-md-4">
                        <h5 class="text-light">About us</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                        <p class="foot-desc mb-0 ">We are here to make increase the efficiency in facilitating censuring and limiting every form of stress in getting censored.</p>
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto mt-2 mt-md-0 mb-0 mb-md-4">
                        <h5 class="text-light">Useful links</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                        <ul class="list-unstyled foot-desc">
                            <li class="mb-2">
                                <a href="{% url 'auth:login' %}" class="text-light">Login</a>
                            </li>
                            <li class="mb-2">
                                <a href="{% url 'auth:register' %}" class="text-light">Register</a>
                            </li>
                            <li class="mb-2">
                                <a href="#" class="text-light">Legal Terms</a>
                            </li>
                        </ul>		
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto mt-2 mt-md-0 mb-0 mb-md-4">
                        <h5 class="text-light">Contacts</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                        <ul class="fa-ul foot-desc ml-4">
                            <li class="mb-2"><span class="fa-li"><i class="fa fa-map"></i></span>CBCIMS Kaduna
                            </li>
                            <li class="mb-2"><span class="fa-li"><i class="fa fa-phone"></i></span>+234 7061393249</li>
                            <li class="mb-2"><span class="fa-li"><i class="fa fa-envelope"></i></span>info@services.cbcims.io</li>
                            <li><span class="fa-li"><i class="fa fa-clock-o"></i></span>Monday - Friday: 8.am-5pm</li>
                        </ul>
        
                    </div>
                </div>
            </div>  
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col d-flex justify-content-center my-5 pt-1">
                <!-- Facebook -->
                <a class="fb-ic" href="">
                    <i class="fa fa-facebook fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="">
                    <i class="fa fa-twitter fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href="">
                    <i class="fa fa-google-plus fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="">
                    <i class="fa fa-instagram fa-lg white-text mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!--Grid column-->
            </div>
            <!-- Footer Links -->
        </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1 ">© Copyright 2021 <span style="color:#ff9902">CENSUS </span> All rights reserved
    </div>
    <!-- Copyright -->
  </footer>