 {% load static %}
 <!-- Header Area Starts -->
 <header>
    <div class="header-area blog-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                       <h2>CBCIMS</h2>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  

                    <div class="main-menu">
                        {% include 'include/inner_nav.html' %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->