{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block body %}
<body class="vertical-layout vertical-menu 1-column auth-page navbar-sticky blank-page" data-menu="vertical-menu" data-col="1-column">
    {% include 'include/messages.html' %}
    {% include 'include/preloader.html' %}
	<div class="wrapper">
		<div class="main-panel">
				<!-- BEGIN : Main Content-->
				<div class="main-content">
						<div class="content-overlay"></div>
						<div class="content-wrapper">
								<!--Login Page Starts-->
								<section id="login" class="auth-height">
										<div class="row full-height-vh m-0">
												<div class="col-12 d-flex align-items-center justify-content-center">
														<div class="card overflow-hidden">
																<div class="card-content">
																		<div class="card-body auth-img">
																				<div class="row m-0">
																						<div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
																								<img src="{% static 'auth/app-assets/img/gallery/login.png' %}" alt="" class="img-fluid" width="300" height="230">
																						</div>
																						<div class="col-lg-6 col-12 px-4 py-3">
																								<h4 class="mb-2 card-title">Login</h4>
																								<p>Welcome back, please login to your account.</p>
																								<form action="" method="POST">
																									{% csrf_token %}
																									<input type="text" class="form-control mb-3" name="username" value="{{ username }}" placeholder="NIN">
																									<input type="password" class="form-control mb-2" name="password" placeholder="Password">
																								
																									<div class="d-sm-flex justify-content-between mb-3 font-small-2">
																										<div class="remember-me mb-2 mb-sm-0">
																										</div>
																										<!-- <a href="#">Forgot Password?</a> -->
																									</div>
																									<div class="d-flex justify-content-between flex-sm-row flex-column">
																											<a href="{% url 'auth:register' %}" class="btn bg-light-primary mb-2 mb-sm-0">Register</a>
																											<button type="submit" class="btn btn-primary">Login</a>
																									</div>
																								</form>
																								<hr>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</section>
								<!--Login Page Ends-->
						</div>
				</div>
				<!-- END : End Main Content-->
		</div>
	</div>
	{% include 'include/auth_script.html' %}
    {% include 'include/message.html' %}
    <script src="{% static 'auth/assets/js/clear.js' %}"></script>

</body>
{% endblock %}