{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block body %}
<body class="vertical-layout vertical-menu 2-columns  navbar-sticky" data-menu="vertical-menu" data-col="2-columns">
    {% include 'include/messages.html' %}
    {% include 'include/preloader.html' %}
    {% include 'include/login_nav.html' %}

    <div class="wrapper">
        {% if request.user.is_staff %}
         {% include 'include/admin_sidebar.html' %}
        {% else %}
        {% include 'include/user_sidebar.html' %}
        {% endif %}

        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-overlay"></div>
                <div class="content-wrapper">
                    {% include 'include/error_message.html' %}
                    <section class="users-edit">
                        <div class="row">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <!-- Media object starts -->
                                            <h4 class="mb-4">Staff Edit / Creation Form</h4>
                                            <div class="media">
                                                <img src="{% if user.profile.imageURL != '' %} {{ user.profile.imageURL }} {% else %} {% static 'auth/app-assets/img/portrait/small/profile.png' %} {% endif %}" alt="user edit avatar" class="users-avatar-shadow avatar mr-3 rounded-circle" height="64" width="64">
                                                <div class="media-body">
                                                    <p>{{ user.email }} <br> <small class="text-muted">Basic user</small></p>
                                                </div>
                                            </div>
                                             <!-- Account form starts -->
                                             <form enctype="multipart/form-data" method="post">
                                                {% csrf_token %}                                                
                                                <div class="row">
                                                    <div class="col-12 col-md-6">

                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">first Name</label>
                                                                {% if form.firstName.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.firstName.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.firstName }}
                                                                <div class="invalid-feedback" id="fullnameFieldFeedback"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">other Name</label>
                                                                {% if form.otherName.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.otherName.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.otherName }}
                                                                <div class="invalid-feedback" id="fullnameFieldFeedback"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">Date of Birth</label>
                                                                {% if form.dob.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.dob.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.dob }}
                                                                <div class="invalid-feedback" id="fullnameFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-profile_pic">profile picture </label>
                                                                {% if form.profile_pic.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.profile_pic.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-check form-check-inline">
                                                                    {{ form.profile_pic }}
                                                                </div>
                                                                <div class="invalid-feedback" id="profile_picFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-resume">Religion</label> <br>
                                                                {% if form.religion.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.religion.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-check form-check-inline">
                                                                    {{ form.religion }}
                                                                </div>
                                                                <div class="invalid-feedback" id="resumeFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-12 col-md-6">

                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">lastName</label>
                                                                {% if form.lastName.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.lastName.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.lastName }}
                                                                <div class="invalid-feedback" id="NumberFieldFeedback"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">phoneNumber</label>
                                                                {% if form.phoneNumber.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.phoneNumber.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.phoneNumber }}
                                                                <div class="invalid-feedback" id="NumberFieldFeedback"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-username">Family Size</label>
                                                                {% if form.family_size.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.family_size.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.family_size }}
                                                                <div class="invalid-feedback" id="fullnameFieldFeedback"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label for="users-edit-username">Gender</label>
                                                            <div class="controls ml-5">
                                                                {% if form.gender.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.gender.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.gender }}
                                                                <div class="invalid-feedback" id="fullnameFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group mt-5">   
                                                            <div class="controls">
                                                                {% if form.address.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.address.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                <label for="users-edit-address">Address</label>
                                                                    {{ form.address }}
                                                                <div class="invalid-feedback" id="cover_letterFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="users-edit-resume">LGA</label> <br>
                                                                {% if form.lga.errors %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ form.lga.errors }}
                                                                    </div>
                                                                {% endif %}
                                                                <div class="form-check form-check-inline">
                                                                    {{ form.lga }}
                                                                </div>
                                                                <div class="invalid-feedback" id="resumeFieldFeedback"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            <hr>
                                            <!-- Account form ends -->
                                            <!-- Media object ends -->
                                            <div class="row">
                                                <div class="mx-auto">
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2 "> Update Details</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="text-center">Information We've Acquired</h4>
                                                </div>
                                            </div>
                                            <canvas id="infoChart" width="300" height="250"></canvas>	
 
                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.firstName %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">First Name</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.lastName %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Last Name</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.otherName %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Other Name</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.dob %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Date of Birth</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.family_size %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Family Size</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.imageURL %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Profile Picture</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.gender %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Gender</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.religion %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Religion</label>
                                            </div>

                                            <div class="custom-control custom-radio mt-3">
                                                {% if user.profile.address %}
                                                    <input type="radio" class="custom-control-input" checked>
                                                {% else %}
                                                    <input type="radio" class="custom-control-input">
                                                {% endif %} 
                                                <label class="custom-control-label">Address</label>
                                            </div> 
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>                
                </div>
            </div>
            <!-- END : End Main Content-->
            {% include 'include/auth_footer.html' %}
        </div>
    </div>
    {% include 'include/task.html' %}
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    {% include 'include/auth_script.html' %}
    {% include 'include/message.html' %}    
    <!-- <script src="{% static 'auth/assets/js/clear.js' %}"></script> -->
</body>
{% endblock %}
</html>